h2{
    font-size: 16px;
}

td{
    font-size: 20px;
}

caption{
    font-size: 20px;
}

.pluspoint {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 4px;
    border: 0px solid #047d09;
    border-radius: 30px;
    background: #08eb10;
    background: -webkit-gradient(linear, left top, left bottom, from(#08eb10), to(#047d09));
    background: -moz-linear-gradient(top, #08eb10, #047d09);
    background: linear-gradient(to bottom, #08eb10, #047d09);
    font: normal normal normal 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.pluspoint:hover,
.pluspoint:focus {
    border: 1px solid #05930a;
    background: #0aff13;
    background: -webkit-gradient(linear, left top, left bottom, from(#0aff13), to(#05960b));
    background: -moz-linear-gradient(top, #0aff13, #05960b);
    background: linear-gradient(to bottom, #0aff13, #05960b);
    color: #ffffff;
    text-decoration: none;
}
.pluspoint:active {
    background: #047d09;
    background: -webkit-gradient(linear, left top, left bottom, from(#047d09), to(#047d09));
    background: -moz-linear-gradient(top, #047d09, #047d09);
    background: linear-gradient(to bottom, #047d09, #047d09);
}

.minuspoint {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 6px;
    border: 0px solid #be0017;
    border-radius: 30px;
    background: #ff002b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff002b), to(#be0017));
    background: -moz-linear-gradient(top, #ff002b, #be0017);
    background: linear-gradient(to bottom, #ff002b, #be0017);
    font: normal normal normal 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.minuspoint:hover,
.minuspoint:focus {
    border: 1px solid #df001b;
    background: #ff0034;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0034), to(#e4001c));
    background: -moz-linear-gradient(top, #ff0034, #e4001c);
    background: linear-gradient(to bottom, #ff0034, #e4001c);
    color: #ffffff;
    text-decoration: none;
}
.minuspoint:active {
    background: #be0017;
    background: -webkit-gradient(linear, left top, left bottom, from(#be0017), to(#be0017));
    background: -moz-linear-gradient(top, #be0017, #be0017);
    background: linear-gradient(to bottom, #be0017, #be0017);
}

.beautyselect{
    background:#fafdfe;
    height:28px;
    width:180px;
    line-height:28px;
    border:1px solid #9bc0dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.submitbutton {
	box-shadow: 4px 0px 0px -1px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:17px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.submitbutton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.submitbutton:active {
	position:relative;
	top:1px;
}

.pickonestudent {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:DFKai-sb;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.pickonestudent:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.pickonestudent:active {
	position:relative;
	top:1px;
}
