<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf8">
  <title>測試2</title>
  <script>
    var vocabualrypreviewresult = "http://140.134.26.196/vocabularypreviewresult/?";

    function collectunit(unit){
      vocabualrypreviewresult += unit;
    }

    function collectreading(reading){
      vocabualrypreviewresult += reading;
    }
  </script>
</head>
<body>
  <iframe src="http://140.134.26.196/checkstudent/" style="width: 80%; height: 450px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">
  </iframe>

  <h1>Vocabulary Preview</h1>
  <form name="change">
  <SELECT NAME="options" ONCHANGE="document.getElementById('youriframe').src = this.options[this.selectedIndex].value" style="vertical-align:text-top;">
  <option>Select unit and reading</option>
  <option value="http://140.134.26.196/vocabularypreviewresult/?unit=5&reading=1">U5R1</option>
  <option value="http://140.134.26.196/vocabularypreviewresult/?unit=5&reading=2">U5R2</option>
  <option value="http://140.134.26.196/vocabularypreviewresult/?unit=7&reading=1">U7R1</option>
  <option value="http://140.134.26.196/vocabularypreviewresult/?unit=7&reading=2">U7R2</option>
  </SELECT>
  <br>
  <iframe name="iframe" id="youriframe" style="width: 80%; height: 300px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="50"></iframe>
  </form>
</body>
</html>