<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi-Robot System in English Education Classroom</title>
</head>
<body>
<h1>Multi-Robot System in English Education Classroom</h1>
<h2>使用說明：</h2>
<a>歡迎使用英語課堂分組教學多機器人系統，首先請先點選設定Nao IP的連結，並輸入Nao機器人的IP，輸入完成後網頁會自動導向主頁面。</a>
<br><br>
<a>主頁面中會包含學生們Before You Read、Vocabulary Preview、Reading、Vocabulary Review、Focus on Content的測驗結果。</a>
<br><br>
<a>接著請點選"點名網頁"，此頁面提供了分組的名單以及切換Zenbo Junior任務等功能，進入頁面後請先選擇週數後再進行後續的動作。</a>
<br><br>
<h2>網址清單</h2>

<ol>
<li><a href="http://140.134.26.196/setnaoipdirectly/">設定Nao IP</a></li>
<li><a href="http://140.134.26.196/checkstudent/">點名網頁</a></li>
<li><a href="http://140.134.26.196/home/">主頁面</a></li>
    <ul>
        <li><a href="http://140.134.26.196/beforeyoureadresult/?unit=10">Before You Read</a> </li>
        <li><a href="http://140.134.26.196/vocabularypreviewresult/?unit=10&reading=1">Unit 10 Reading 1 Vocabulary Preview </a> </li>
        <li><a href="http://140.134.26.196/vocabularypreviewresult/?unit=10&reading=2">Unit 10 Reading 2 Vocabulary Preview </a> </li>
        <li><a href="http://140.134.26.196/reading/?unit=10&reading=1">Unit 10 Reading Audio Website</a> </li>
        <li><a href="http://140.134.26.196/focusoncontentresult/?unit=10&reading=1">Unit 10 Reading 1 Focus on Content </a> </li>
        <li><a href="http://140.134.26.196/focusoncontentresult/?unit=10&reading=2">Unit 10 Reading 2 Focus on Content </a> </li>
        <li><a href="http://140.134.26.196/vocabularyreviewresult/?unit=10&reading=1">Unit 10 Reading 1 Vocabulary Review </a> </li>
        <li><a href="http://140.134.26.196/vocabularyreviewresult/?unit=10&reading=2">Unit 10 Reading 2 Vocabulary Review </a> </li>
    </ul>
</ol>

</body>
</html>