<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        var result = prompt('請輸入Nao的IP');
        alert(result);
        setnaoip();
        function setnaoip(){

          $.ajax({
              url: "http://140.134.26.196/setnaoip/?ip="+result,
              context: document.body,
              success: function (data){
                  alert(data.result);
                  window.location.href="http://140.134.26.196/home/";
              }
          });
        }

    </script>
    <title>設定NAO的IP Address</title>
</head>
<body>

</body>
</html>