<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <select id="package">
    <option value="" disabled selected hidden>課程單元</option>
    {% for element in categories%}
    <option value="package={{element}}">{{element}}</option>
    {% endfor %}
    <input class="SubmitButton" type="button" value="Submit" onclick="showpage()">
</select>
</form>

<table align="center" border="1" width="30%">
  <caption>{{package}}類別中的單字<br><br></caption>
  <tr>
    <th align="center">單字</th>
    <th align="center">詞性</th>
    <th align="center">英文解釋</th>
  </tr>
  {% for element in Vocabularies%}
  <tr>
    <td align="center">{{element.word}}</td>
    <td align="center">{{element.partofspeech}}</td>
    <td align="center">{{element.meaning}}</td>
  </tr>
  {% endfor %}
</table>

<script src = "//code.jquery.com/jquery-3.0.0.min.js"></script> <!-- add jquery library-->
<script type = "text/javascript">

function showpage(){
    var sel = document.getElementById('package');
    var packagename = sel.options[sel.selectedIndex].value;
    window.location.href="http://140.134.26.196/teachcustomizevocabulary/?"+packagename;
}

</script>
</body>
</html>