{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css" href="{%  static  'css/style.css'  %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/socket.io.min.js' %}"></script>

    <script type="text/javascript">
    getnaoip();
    var naoiptoconnect="";
    function getnaoip(){
        $.ajax({
              url: "http://140.134.26.196/getnaoip/",
              context: document.body,
              success: function(data){
                  naoiptoconnect=data.IP;
              }
          });
    }
    var nao_address = "192.168.0.101";
    var jsQim = '/static/js/qimessaging.js';
    if (nao_address == '') {
        nao_address = '10.2.1.164';
        jsQim = 'http://' + nao_address + jsQim;
    }
    $.getScript(jsQim, function() {
        console.log('QiMessaging Library Loaded');
        $.getScript('/static/js/jsnao.js', function() {
        console.log('JsNAO Library Loaded');
        $(document).ready(function() {
            jsnao.connect(naoiptoconnect);
            $('#RbtSay').keyup(function (e){
            if (e.keyCode == 13 /* Enter */) {
                jsnao.al_tts.say($('#RbtSay').val());
            }
            });
        });
        });
    });


    </script> <!-- nao 連線 -->

    <title>點名</title>
</head>
<body>
<script language="JavaScript">
      var week="3";

      function GO(url){
          $.ajax({
              url: url,
              context: document.body,
              success: function(){
                  alert('ok...');
              }
          });
      }

      function changecheck(changecheckstudent){
          console.log(changecheckstudent)
          $.ajax({
              url: "http://140.134.26.196"+changecheckstudent+"&week="+week,
              context: document.body,
              success: function (data){
                  alert(data.responsemessage);
                  window.location.reload();
              }
          });
      }

      function changepoint(changepointstudent){
          console.log(changepointstudent)
          $.ajax({
              url: "http://140.134.26.196"+changepointstudent,
              context: document.body,
              data: this.data,
              success: function (data){
                  alert(data.responsemessage);
                  window.location.reload();
              }
          });
      }

      function randompickstudent(weekandgroup){
          $.ajax({
              url: "http://140.134.26.196"+weekandgroup,
              context: document.body,
              data: this.data,
              success: function (data) {
                  alert(data.result);
                  jsnao.al_tts.setLanguage('Chinese');
                  jsnao.al_tts.say(data.result.toString());
                  window.location.reload();
              }
          });
      }

      function announceuncheckedstudent(url){
          $.ajax({
              url: "http://140.134.26.196"+url+week,
              context: document.body,
              data: this.data,
              success: function (data){
                  alert(data.result);
                  jsnao.al_tts.setLanguage('Chinese');
                  for(i=0; i<data.result.length; i++){
                      jsnao.al_tts.say(data.result[i].toString()+"\\\\pau=3000\\\\");
                      jsnao.al_tts.say(data.result[i].toString()+"\\\\pau=3000\\\\");
                  }
              },
              error: function (data){
                  alert(data.result);
              }
          });
      }

      function getstudentchecksituationforloop(url){
          week=url.charAt(url.length-1);
          for(group=1; group<7; group++){
              getstudentchecksituation(url, String(group))
          }
      }

      function getstudentchecksituation(url, group){
              $.ajax({
              url: url+"&group="+group,
              context: document.body,
              data: this.data,
              success: function(data){
                  document.getElementById("group"+group).getElementsByTagName("td")[2].innerHTML=data.check1+' <button onclick="changecheck(value)" value="/edit/?cId='+data.cId1+'"'+'>更動</button>'
                  document.getElementById("group"+group).getElementsByTagName("td")[6].innerHTML=data.check2+' <button onclick="changecheck(value)" value="/edit/?cId='+data.cId2+'"'+'>更動</button>'
                  document.getElementById("group"+group).getElementsByTagName("td")[10].innerHTML=data.check3+' <button onclick="changecheck(value)" value="/edit/?cId='+data.cId3+'"'+'>更動</button>'
                  document.getElementById("group"+group).getElementsByTagName("td")[14].innerHTML=data.check4+' <button onclick="changecheck(value)" value="/edit/?cId='+data.cId4+'"'+'>更動</button>'
                  document.getElementById("group"+group).getElementsByTagName("td")[18].innerHTML=data.check5+' <button onclick="changecheck(value)" value="/edit/?cId='+data.cId5+'"'+'>更動</button>'
                  document.getElementById("group"+group).getElementsByTagName("td")[22].innerHTML=data.check6+' <button onclick="changecheck(value)" value="/edit/?cId='+data.cId6+'"'+'>更動</button>'
              }
              });

      }

</script>  <!-- functions -->
<h1 align="center">
    <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=2&group=1">抽點第一組學生</button>
    <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=2&group=2">抽點第二組學生</button>
    <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=2&group=3">抽點第三組學生</button>
    <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=2&group=4">抽點第四組學生</button>
    <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=2&group=5">抽點第五組學生</button>
    <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=2&group=all">從全班抽點學生</button>
</h1>

    <table width="90%" align="left">
        <caption style="font-size: 30px; font-family: 標楷體">

        <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換所有Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=all"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=all"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=all"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=all"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=all"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=all"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=all"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=all"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=all"> Critical thinking </option>
        </select>
        <select onchange="getstudentchecksituationforloop(this.options[this.selectedIndex].value)">

                    <option value=""> Choose Week </option>

                    <option value="http://140.134.26.196/getstudentchecksituation/?week=1"> Week 1 (5/5)</option>

                    <option value="http://140.134.26.196/getstudentchecksituation/?week=2"> Week 2 (5/12)</option>

                    <option value="http://140.134.26.196/getstudentchecksituation/?week=3"> Week 3 (5/19)</option>

                    <option value="http://140.134.26.196/getstudentchecksituation/?week=4"> Week 4 (5/26)</option>
        </select>
        <button id="calluncheckedstudent" class="pickonestudent" onclick="announceuncheckedstudent(value)" value="/announceuncheckedstudent/?week=">唱名未簽到學生</button>
        </caption>
        <colgroup style="background-color: #1b6d85;"></colgroup>
        <colgroup style="background-color: #f5dd5d;"></colgroup>
        <colgroup style="background-color: #3e8f3e;"></colgroup>

        <tr>
            <th>Group 1</th>
            <th>Group 2</th>
            <th>Group 3</th>
        </tr>

    <form action="" method="GET" name="from1">

    <table id="group1" width="30%" style="float: left;margin: 0px;padding: 0px" border="0">
        <caption><br>

            <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換此Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=1"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=1"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=1"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=1"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=1"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=1"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=1"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=1"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=1"> Critical thinking </option>
            </select>



            <br> ----------------------------------------- <br></caption>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>簽到情形</th>
            <th>加扣分</th>
        </tr>

        {% for student in checkedstudent1 %}
            <tr>
                <td align="center">{{ student.cId }}</td>
                <td align="center">{{ student.cName }}</td>
                <td align="center">{{ student.Thirdweekcheck}} <button onclick="changecheck(value)" value="/edit/?cId={{student.cId}}">更動</button></td>
                <td align="center"><button class="pluspoint" onclick="changepoint(value)" value="/pluspoint/?cId={{student.cId}}">+</button>        {{ student.point }}        <button class="minuspoint" onclick="changepoint(value)" value="/subpoint/?cId={{student.cId}}">-</button></td>
            </tr>
        {% endfor %}

    </table>

    </form>

    <form action="" method="GET" name="from1">

    <table id="group2" width="30%" style="float: left;margin: 0px;padding: 0px" border="0">
        <caption><br>

            <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換此Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=2"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=2"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=2"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=2"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=2"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=2"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=2"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=2"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=2"> Critical thinking </option>
            </select>



            <br> ----------------------------------------- <br></caption>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>簽到情形</th>
            <th>加扣分</th>
        </tr>

        {% for student in checkedstudent2 %}
            <tr>
                <td align="center">{{ student.cId }}</td>
                <td align="center">{{ student.cName }}</td>
                <td align="center">{{ student.Thirdweekcheck}} <button onclick="changecheck(value)" value="/edit/?cId={{student.cId}}">更動</button></td>
                <td align="center"><button class="pluspoint" onclick="changepoint(value)" value="/pluspoint/?cId={{student.cId}}">+</button>        {{ student.point }}        <button class="minuspoint" onclick="changepoint(value)" value="/subpoint/?cId={{student.cId}}">-</button></td>
            </tr>
        {% endfor %}

    </table>

    </form>

    <form action="" method="GET" name="from1">

    <table id="group3" width="30%" style="float: left;margin: 0px;padding: 0px" border="0">
        <caption><br>

            <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換此Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=3"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=3"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=3"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=3"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=3"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=3"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=3"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=3"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=3"> Critical thinking </option>
            </select>



            <br> ----------------------------------------- <br></caption>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>簽到情形</th>
            <th>加扣分</th>
        </tr>

        {% for student in checkedstudent3 %}
            <tr>
                <td align="center">{{ student.cId }}</td>
                <td align="center">{{ student.cName }}</td>
                <td align="center">{{ student.Thirdweekcheck}} <button onclick="changecheck(value)" value="/edit/?cId={{student.cId}}">更動</button></td>
                <td align="center"><button class="pluspoint" onclick="changepoint(value)" value="/pluspoint/?cId={{student.cId}}">+</button>        {{ student.point }}        <button class="minuspoint" onclick="changepoint(value)" value="/subpoint/?cId={{student.cId}}">-</button></td>
            </tr>
        {% endfor %}

    </table>

    </form>
    <br><br>
    </table>

    <table width="90%" align="left">
        <colgroup style="background-color: #d9534f;"></colgroup>
        <colgroup style="background-color: #d58512;"></colgroup>
        <colgroup style="background-color: #9acfea;"></colgroup>
        <tr>
            <th>Group 4</th>
            <th>Group 5</th>
            <th>Group 6</th>
        </tr>

    <form action="" method="GET" name="from1">

    <table id="group4" width="30%" style="float: left;margin: 0px;padding: 0px" border="0">
        <caption><br>

            <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換此Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=4"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=4"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=4"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=4"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=4"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=4"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=4"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=4"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=4"> Critical thinking </option>
            </select>



            <br> ----------------------------------------- <br></caption>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>簽到情形</th>
            <th>加扣分</th>
        </tr>

        {% for student in checkedstudent4 %}
            <tr>
                <td align="center">{{ student.cId }}</td>
                <td align="center">{{ student.cName }}</td>
                <td align="center">{{ student.Thirdweekcheck}} <button onclick="changecheck(value)" value="/edit/?cId={{student.cId}}">更動</button></td>
                <td align="center"><button class="pluspoint" onclick="changepoint(value)" value="/pluspoint/?cId={{student.cId}}">+</button>        {{ student.point }}        <button class="minuspoint" onclick="changepoint(value)" value="/subpoint/?cId={{student.cId}}">-</button></td>
            </tr>
        {% endfor %}

    </table>

    </form>

    <form action="" method="GET" name="from1">

    <table id="group5" width="30%" style="float: left;margin: 0px;padding: 0px" border="0">
        <caption><br>

            <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換此Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=5"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=5"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=5"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=5"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=5"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=5"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=5"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=5"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=5"> Critical thinking </option>
            </select>



            <br> ----------------------------------------- <br></caption>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>簽到情形</th>
            <th>加扣分</th>
        </tr>

        {% for student in checkedstudent5 %}
            <tr>
                <td align="center">{{ student.cId }}</td>
                <td align="center">{{ student.cName }}</td>
                <td align="center">{{ student.Thirdweekcheck}} <button onclick="changecheck(value)" value="/edit/?cId={{student.cId}}">更動</button></td>
                <td align="center"><button class="pluspoint" onclick="changepoint(value)" value="/pluspoint/?cId={{student.cId}}">+</button>        {{ student.point }}        <button class="minuspoint" onclick="changepoint(value)" value="/subpoint/?cId={{student.cId}}">-</button></td>
            </tr>
        {% endfor %}

    </table>

    </form>

    <form action="" method="GET" name="from1">

    <table id="group6" width="30%" style="float: left;margin: 0px;padding: 0px" border="0">
        <caption><br> <button class="pickonestudent" onclick="randompickstudent(value)" value="/randompickstudent/?week=1&group=6">抽點一位學生</button>

            <select onchange="GO(this.options[this.selectedIndex].value)">

                <option value=""> 切換此Zenbo狀態 </option>
                <option value="http://140.134.26.196/changesectiontostudentcheck/?zenbo=6"> 點名 </option>

                <option value="http://140.134.26.196/changesectiontobeforeyouread/?zenbo=6"> Before you read </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=1&zenbo=6"> Reading 1 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=1&zenbo=6"> Reading 1 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=1&zenbo=6"> Reading 1 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontovocabualrypreview/?unit=10&reading=2&zenbo=6"> Reading 2 Vocabulary Preview</option>

                <option value="http://140.134.26.196/changesectiontofocusoncontent/?unit=10&reading=2&zenbo=6"> Reading 2 Focus on Content </option>

                <option value="http://140.134.26.196/changesectiontovocabularyreview/?unit=10&reading=2&zenbo=6"> Reading 2 Vocabulary Review </option>

                <option value="http://140.134.26.196/changesectiontocriticalthinking/?zenbo=6"> Critical thinking </option>
            </select>



            <br> ----------------------------------------- <br></caption>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>簽到情形</th>
            <th>加扣分</th>
        </tr>

        {% for student in checkedstudent6 %}
            <tr>
                <td align="center">{{ student.cId }}</td>
                <td align="center">{{ student.cName }}</td>
                <td align="center">{{ student.Thirdweekcheck}} <button onclick="changecheck(value)" value="/edit/?cId={{student.cId}}">更動</button></td>
                <td align="center"><button class="pluspoint" onclick="changepoint(value)" value="/pluspoint/?cId={{student.cId}}">+</button>        {{ student.point }}        <button class="minuspoint" onclick="changepoint(value)" value="/subpoint/?cId={{student.cId}}">-</button></td>
            </tr>
        {% endfor %}

    </table>

    </form>
    <br><br>
    </table>
<iframe name="iframe" id="clock" src="http://140.134.26.196/clock/?min=2.5" style="width: 100%; height: 400px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="50"></iframe>
</body>
</html>